@using BackEndFinal.ViewModels
	@model HomeViewModel
@{
    Layout = "_Layout";
}

@{
    var paginationModel = await Model.PaginatedBlogs;
}

    <!-- Background Area Start -->
        <section id="slider-container" class="slider-area"> 
            <div class="slider-owl owl-theme owl-carousel"> 
                <!-- Start Slingle Slide -->
        @foreach(var item in Model.sliders)
        {
            <div class="single-slide item" style="background-image: url(img/slider/@item.ImageUrl)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@item.SliderContent.Title </h3>
                                      
                                        <p>@item.SliderContent.Description  </p>
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
        <!-- End Slingle Slide -->
                <!-- Start Slingle Slide -->
               
            </div>
        </section>
		<!-- Background Area End -->
        <!-- Notice Start -->
        <section class="notice-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left">
                            <h3>notice board</h3>
                    @await Component.InvokeAsync("EventTable")

                    
                   
                       
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-right">
                    @foreach(var Advantage in Model.offeredAdvantages)
                    {
                        <div class="single-notice-right mb-25 pb-25">
                            <h3>@Advantage.Title</h3>
                            <p>@Advantage.Description </p>
                        </div>
                    }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Notice End -->
        <!-- Choose Start -->
        <section class="choose-area pb-85 pt-77">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                        <div class="choose-content text-left">
                            <h2>@Model.WhyChoose.Name</h2>
                            <p>@Model.WhyChoose.Description </p>
                            <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                            <a class="default-btn" href="course-details.html">view courses</a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!-- Choose Area End -->
        <!-- Courses Area Start -->
        <div class="courses-area pt-150 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title">
                            <img src="~/img/icon/@Model.WhyChoose.ImageUrl" alt="section-title">
                            <h2>COURSES WE OFFER</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
            @await Component.InvokeAsync("Course", new { keyword = ViewBag.Keyword })

                </div>
            </div>
        </div>
        <!-- Courses Area End -->
        <!-- Event Area Start -->
        <div class="event-area one text-center pt-140 pb-150">
            <div class="container">
                <div class="row">
                     <div class="col-xs-12">
                        <div class="section-title">
                            <img src="~/img/icon/section.png" alt="section-title">
                            <h2>UPCOMMING EVENTS</h2>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-12 hidden-sm hidden-xs">
                @foreach (var eventItem in Model.events)
                {
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-event mb-35">
                            <div class="event-date">
                                <h3><a href="event-details.html">@eventItem.HeldTime.ToString("dd") <span>@eventItem.HeldTime.ToString("MMMM")</span></a></h3>
                            </div>
                            <div class="event-content text-left">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">@eventItem.Title</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>@eventItem.StartTime.ToString(@"hh\:mm") - @eventItem.EndTime.ToString(@"hh\:mm")</li>
                                        <li><i class="fa fa-map-marker"></i>@eventItem.Location</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>




            </div>
        </div>
        <!-- Event Area End -->
        <!-- Testimonial Area Start -->

<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @await Component.InvokeAsync("TestimonialArea")

            </div>
        </div>
    </div>
</div>

        <!-- Testimonial Area End -->
        <!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var blog in paginationModel)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="~/img/blog/@blog.Images.FirstOrDefault(s => s.IsMain == true).imageUrl" alt="blog">
                            </a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.Writer / @blog.CreatedTime?.ToString("d, MMMM yyyy") / <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@blog.Title</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    @if (paginationModel.HasPrev)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = paginationModel.CurrentPage - 1 })">Previous</a>
                        </li>
                    }
                    @for (int i = 1; i <= paginationModel.TotalPage; i++)
                    {
                        <li class="page-item @(paginationModel.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                    @if (paginationModel.HasNext)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = paginationModel.CurrentPage + 1 })">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
        <!-- Blog Area End -->
        <!-- Subscribe Start -->
@await Component.InvokeAsync("Subscriber")

        <!-- Subscribe End -->