@using Microsoft.AspNetCore.Identity
@model IEnumerable<Category>

@{
    ViewData["Title"] = "categories";
}

<h1>Roles</h1>

<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
        <form asp-action="index">
            <input type="text" name="searchText" value="" />
            <button type="submit">search</button>
        </form>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a href="@Url.Action("Detail", new { id = role.Id })" class="btn btn-info">Details</a>
                    <a asp-action="Update" asp-route-id="@role.Id" class="btn btn-primary">Update</a>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post" id="delete-form-@role.Id" style="display:none;">
                        <input name="__RequestVerificationToken" type="hidden" />
                    </form>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete('@role.Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function confirmDelete(roleId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form to delete the role
                document.getElementById('delete-form-' + roleId).submit();
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your category is safe :)",
                    icon: "error"
                });
            }
        });
    }
</script>

